{
  "root": true,
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "settings": {
    "node": {
      "version": "^20.x"
    }
  },
  "overrides": [{
    "files": ["*.ts"],
    "extends": [
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"]
  }],
  "rules": {
    "multiline-comment-style": "off"
  }
}
